div.row-full {
  display: inline-block;
  clear: both;
}
ul.nav-category {
  list-style: none;
  margin-left: 0;
}
.category-item {
  float: left;
  margin-bottom: 0;
}
.category-link {
  color: var(--text-color-normal);
}
.category-link[aria-current="page"] {
  color: var(--accent-color);
}

input.error {
  border-color: red;
}
.input-feedback {
  color: red;
  margin-top: .25rem;
}
button:disabled {
  opacity: .5;
  cursor: not-allowed !important;
}
.recaptcha-container {
  transform: scale(0.9);
  -webkit-transform:  scale(0.9);
  transform-origin: 0 0;
  -webkit-transform-origin:0 0;
}
